/* Troubleshooting Section */
.troubleshoot-container {
    /* flex-grow: 1; */
    margin-top: 30px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.troubleshoot-options {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
}

.card {
    background: #f77f00;
    padding: 20px;
    width: 200px;
    text-align: center;
    border-radius: 8px;
    cursor: pointer;
    transition: transform 0.3s, background 0.3s;
}

.card:hover {
    background: #ff5500;;
    transform: scale(1.1);
}

.card i {
    font-size: 2rem;
    margin-bottom: 10px;
}

.symptom-followup{
    /* background-color: grey; */
    display: flex;
    justify-content: center;
    gap: 30px;
}

@media (max-width: 900px) {
    .symptom-followup{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }
    #symptoms-list{
        max-width: 320px;
    }
    #follow-up-questions{
        max-width: 320px;
    }
}

.selected-symptom {
    background-color: #ffbc58; /* Orange highlight */
    color: black;
    font-weight: bold;
    padding: 5px;
    border-radius: 5px 30px 30px 5px;
    transition: 0.3s ease-in-out;
}

#symptoms-list{
    width: 600px;
    height: fit-content;
    border: 1px solid white;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 20px;
    cursor: pointer;
    display: none;
}

.symptom-title{
    color:#f77f00;
    margin-bottom:20px;
}

#follow-up-questions{
    width: 600px;
    height: fit-content;
    border: 1px solid white;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 20px;
    cursor: pointer;
    display: none;
}

.followup-title{
    color:#f77f00;
    margin-bottom:20px;
}